<!DOCTYPE html>
<html>
	<head>
		<title>Bannière</title>
	</head>

	<p>Bannière pour l'index</p>
	<div class=jumbotron>
	 		<h1>Never get bored again.</h1>
	 		<p>What are you going to do this week?</p>
	</div>


<p>Bannière pour les autres pages</p>
	<div class="jumbotron2 p-5">
		<h1>Wanna organize the next Burning man?</h1>
	</div>


	<body>
		<div> 	</div>
	</body>
</html>