<!DOCTYPE html>
<html>
  <head>
    <!-- Place your kit's code here -->
    <title>Footer</title>
    <script src="https://kit.fontawesome.com/047e2c0da1.js" crossorigin="anonymous"></script>
  </head>

  <body>
  </body>

  <footer class="footer">
		<div class="social_area">
			<div class="network"><i class="fab fa-facebook"></i></div>
			<div class="network"><i class="fab fa-instagram"></i></div>
			<div class="network"><i class="fab fa-twitter"></i></div>
		</div>
		<div class="brand">
			<div class="name">EventBrite</div>
			<div class="icon"><i class="far fa-calendar-check"></i></div>
			</div>
		<div class="support">
			<div class='link'>Team</div>
			<div class='link'>Contact</div>
			<div class='link'>About</div>
		</div>
	</footer>

</html>


