<!DOCTYPE html>
<html lang=en>
	<head>
		<meta charset="utf-8">
    <title>Index</title>


	</head>
	<body>
		 <div class="section"> <h1>Salut à toi Correcteur! Pour ton information, les parties Ressouces, Element et Organism ne sont pas faites. Bonne correction!!</h1></div>
	</body>
</html>